html, body {
  overflow-x: hidden;
}

.bg-milk {
  background-color: #fff1da;
}

.bg-pink {
  background-color: #ffeeee;
}

.red {
  color: #ff4141;
}

.title {
  font-size: 48px;
  font-weight: 800;
  color: #2a2a2a;
  margin-bottom: 0;
  line-height: 1;
}
.title-lg {
  font-size: 60px;
}
.title-sm {
  font-size: 36px;
  font-weight: 800;
}
.title span {
  font-size: 30px;
  line-height: 1;
}
.title span.title-span-lg {
  font-size: 48px;
}

.btn-main {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #212121;
  padding: 20px 25px;
  line-height: 1;
  border: 0;
  border-radius: 100px;
  background-color: #ffb61a;
  outline: none !important;
  cursor: pointer;
}
.btn-main--green {
  background-color: #00ad5d;
  color: white;
}
.btn-main--white {
  background-color: white;
}

.box {
  box-shadow: 0px 16px 27px 0 rgba(0, 0, 0, 0.15);
}
.box--secondary {
  padding: 30px 60px;
}
.box--secondary h3 {
  font-size: 24px;
}

p {
  color: #2d2d2d;
  font-size: 16px;
}
p.ph-18 {
  font-size: 18px;
}

.date {
  width: 44px;
  height: 44px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  font-size: 24px;
  letter-spacing: 0.5px;
  text-align: center;
  color: #2a2a2a;
  line-height: 44px;
  border-radius: 50%;
  margin-right: 10px;
}

.type {
  width: 32%;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 110px;
  padding-left: 25px;
  border-radius: 15px;
  margin-bottom: 15px;
}
.type:nth-child(1) {
  background-image: url("../img/catalog.1.png");
}
.type:nth-child(2) {
  background-image: url("../img/catalog.2.png");
}
.type:nth-child(3) {
  background-image: url("../img/catalog.3.png");
}
.type:nth-child(4) {
  background-image: url("../img/catalog.4.png");
}
.type h3 {
  font-size: 24px;
  font-weight: 500;
  color: #121212;
  margin: 0;
}

input {
  font-size: 18px;
  letter-spacing: 0.5px;
  text-align: center;
  color: rgba(33, 33, 33, 0.6);
  margin: 0 0 13px;
  padding: 15px 0;
  line-height: 1;
  border: 0;
  border-radius: 100px;
}

.section-delivery {
  padding: 120px 0 80px 0;
}
.section-delivery .img-plane {
  -webkit-transform: translate(-10%, 20%);
  -moz-transform: translate(-10%, 20%);
  -ms-transform: translate(-10%, 20%);
  -o-transform: translate(-10%, 20%);
  transform: translate(-10%, 20%);
}
.section-delivery h2 {
  -webkit-transform: translateX(-15%);
  -moz-transform: translateX(-15%);
  -ms-transform: translateX(-15%);
  -o-transform: translateX(-15%);
  transform: translateX(-15%);
}

.section-delivery--exactly {
  background-image: url("../img/delivery.4.png");
  background-position: left center;
  background-repeat: no-repeat;
  padding: 65px 0;
}
.section-delivery--exactly .img-delivery-1 {
  position: absolute;
  left: 0;
  top: 0;
}
.section-delivery--exactly .img-delivery-2 {
  position: absolute;
  right: -30px;
  top: -50px;
}
.section-delivery--exactly .img-delivery-3 {
  position: absolute;
  right: 0;
  bottom: 65px;
}
.section-delivery--exactly p {
  font-size: 24px;
  color: #2a2a2a;
  line-height: 1;
  margin-top: 130px;
}
.section-delivery--exactly p span {
  font-size: 18px;
}
.section-delivery--exactly p strong {
  font-weight: bold;
}
.section-delivery--exactly .box-red {
  background-color: #ff4141;
  padding: 30px;
  border-radius: 20px;
}
.section-delivery--exactly .box-red p {
  font-size: 18px;
  line-height: 1.3;
  font-weight: 300;
  color: white;
}

.section-feedback {
  padding: 125px 0;
}
.section-feedback .buttons {
  position: absolute;
  top: 0;
  right: 0;
}
.section-feedback .fa {
  color: white;
  background-color: #ff4141;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  outline: none !important;
  cursor: pointer;
}
.section-feedback .container-feedback .position-relative {
  height: 300px;
}
.section-feedback .container-feedback p {
  font-size: 24px;
  line-height: 1;
}
.section-feedback .container-feedback p strong {
  font-size: 30px;
  line-height: 1;
  padding-bottom: 10px;
  display: block;
}
.section-feedback .container-feedback p u {
  display: block;
  padding-top: 20px;
  font-size: 18px;
  line-height: 1;
}
.section-feedback .swiper-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
}
.section-feedback .swiper-slide {
  width: 250px;
  height: 298px;
  border-radius: 20px;
  background-color: #2a2a2a;
}

.section-production {
  padding: 70px 0 140px 0;
  background-image: url("../img/delivery.bg.png");
  background-size: cover;
  background-position: right bottom;
}
.section-production h2, .section-production h2 span {
  line-height: 1;
}
.section-production .btn-play {
  position: absolute;
  bottom: 0;
  right: 0;
}

.section-quality {
  padding: 100px 0 175px;
}

.section-catalog {
  padding: 35px 0 70px;
}

.section-advantage {
  padding: 25px 0;
}

.section-contact {
  padding: 70px 0 50px;
}
.section-contact strong {
  display: block;
  margin-bottom: 5px;
}

.section-owner {
  background-image: url("../img/owner.bg.png");
  background-size: cover;
}
.section-owner h3 {
  font-weight: 500;
  font-size: 24px;
}

.section-present {
  background-image: url("../img/present.bg.png");
}
.section-present .nav-tabs a {
  font-size: 18px;
  color: #000000;
  font-weight: bold;
  padding: 11px 14px;
  border-radius: 100px;
  border: solid 2px #dddddd;
  background-color: #ffffff;
  line-height: 1;
  margin-right: 10px;
}
.section-present .nav-tabs a:hover {
  text-decoration: none;
}
.section-present .nav-tabs a.active {
  background-color: #ff4141;
  color: white;
  border-color: #ff4141;
}
.section-present form {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.section-present form img {
  -webkit-transform: translateY(40px);
  -moz-transform: translateY(40px);
  -ms-transform: translateY(40px);
  -o-transform: translateY(40px);
  transform: translateY(40px);
}
.section-present .img-present {
  position: absolute;
  right: 0;
  top: -20px;
  z-index: 11;
}

.pulse {
  position: absolute;
  bottom: 50px;
  right: 50px;
  text-align: center;
  border-radius: 50%;
  background-color: #09bc69;
}
.pulse .fa {
  font-size: 2em;
  line-height: 57px;
  width: 2em;
  height: 2em;
  color: white;
}

.pulse:before,
.pulse:after {
  display: block;
  position: absolute;
  content: "";
  border: 1px solid #09bc69;
  left: -15px;
  right: -15px;
  top: -15px;
  bottom: -15px;
  border-radius: 50%;
  animation: animate 1.5s linear infinite;
}

.pulse:after {
  animation-delay: 0.5s;
}

@keyframes animate {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
.section-header {
  background-image: url("../img/header.bg.png");
  background-position: center;
  background-size: cover;
}
.section-header .sbn-h, .section-header .sbp-h {
  color: white;
  background-color: #ff4141;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  outline: none !important;
  cursor: pointer;
}
.section-header .title {
  text-shadow: 3.5px 3.5px 5px rgba(0, 0, 0, 0.15);
  color: #f2f2f2;
}
.section-header p {
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;
}
.section-header .swiper-container-head {
  padding: 50px 0 80px;
}
.section-header .swiper-pagination-bullet {
  width: 15px;
  height: 15px;
  border: solid 2px #000000;
  opacity: 1;
  background-color: transparent;
}
.section-header .swiper-pagination-bullet-active {
  background-color: black;
}
.section-header .sbp-h {
  position: absolute;
  left: 10%;
  top: calc(50% - 15px);
  z-index: 11;
}
.section-header .sbn-h {
  position: absolute;
  right: 10%;
  top: calc(50% - 15px);
  z-index: 11;
}

nav .phone {
  padding: 40px;
  max-width: 300px;
}
nav .phone a {
  font-size: 18px;
  color: #191919;
}
nav .phone .fa {
  color: #191919;
}
nav .menu {
  background-color: #191919;
}
nav .menu a, nav .menu span {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: #ffffff;
}

.section-sale {
  background-color: #fcf9f4;
  padding: 100px 0;
}
.section-sale .nav-tabs a {
  font-size: 18px;
  color: #000000;
  font-weight: bold;
  padding: 11px 14px;
  border-radius: 100px;
  border: solid 2px #dddddd;
  background-color: #ffffff;
  line-height: 1;
  margin-right: 10px;
}
.section-sale .nav-tabs a:hover {
  text-decoration: none;
}
.section-sale .nav-tabs a.active {
  background-color: #ff4141;
  color: white;
  border-color: #ff4141;
}
.section-sale form {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.section-sale .img-present-1 {
  position: absolute;
  right: 45px;
  top: 59px;
  z-index: 11;
}
.section-sale .img-present-2 {
  position: absolute;
  bottom: 100px;
  z-index: 11;
}
.section-sale .sale-form {
  background-color: white;
  padding: 50px 0;
  border-radius: 24px;
  -webkit-box-shadow: 0 0 7px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 7px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 7px -2px rgba(0, 0, 0, 0.75);
}
.section-sale .sale-form input {
  background-color: #e8e8e8;
}
.section-sale .sale-form span {
  font-size: 18px;
}
.section-sale .sale-form label {
  line-height: 1;
  font-size: 12px;
  text-align: start;
}
.section-sale .benefit {
  background-color: rgba(213, 50, 56, 0.1);
  border-radius: 14px;
  display: inline-block;
  padding: 20px 37px;
}
.section-sale i {
  font-size: 40px;
  color: red;
}
.section-sale .play-text {
  font-size: 12px;
  line-height: 1.2;
  margin: 0;
  text-align: start;
}
.section-sale .title span {
  font-size: 25px;
}

.section-gallery .fa-play-circle {
  color: #ff4141;
  font-size: 40px;
}
.section-gallery h3 {
  font-size: 24px;
  color: rgba(18, 18, 18, 0.7);
}

@media (max-width: 1500px) {
  .sbp-h {
    left: 15px !important;
  }

  .sbn-h {
    right: 15px !important;
  }
}

/*# sourceMappingURL=main.css.map */
